

form{
  border: outset 6px rgb(151, 159, 172) ;
  border-radius: 4px;
  background-color: rgb(83, 82, 82);

}
fieldset{
  background-color: rgb(121, 119, 119);
  border-radius: 4px;
  width: 95%;
  margin: 5px auto;
  legend{
    &> * {
      display: block;
    }
    color: black;
    font-size: 1.5em;
    background-color: rgb(121, 119, 119);
    border-radius: 4px;
  }
}

